set_io --warn-no-port led_blue 40
set_io --warn-no-port led_green 39
set_io --warn-no-port led_red 41
#set_io --warn-no-port clk 44

set_io --warn-no-port spi0_cs 35 # green wire 
set_io --warn-no-port spi0_mosi 43 # purple wire 
set_io --warn-no-port spi0_miso 34 # yellow wire
set_io --warn-no-port spi0_sclk 37 # blue wire

set_io --warn-no-port spi1_cs 32 # green wire
set_io --warn-no-port spi1_mosi 27 # purple wire 
set_io --warn-no-port spi1_miso 26 # yellow wire
set_io --warn-no-port spi1_sclk 25 # blue wire


set_io --warn-no-port serial_txd 14 # FPGA transmit to USB
set_io --warn-no-port serial_rxd 15 # FPGA receive from USB
set_io --warn-no-port spi_cs 16 # Drive high to ensure that the up5k SPI flash is disabled
